$primary: #6D5540;
$darkPrimary: #4D3C2D;
$onPrimary: #FFF;

$accent: #A8886B;
$darkAccent: #8D6E53;
$onAccent: #FFF;

$background: #F3EFEC;
$onBackground: #6D5540;

$surface: #FFF;
$onSurface: #6D5540;

$error: #D24442;
$darkError: #B52E2B;
$onError: #FFF;

$success: #868E85;
$darkSuccess: #727A71;
$onSucces: #FFF;

$disabled: #F3EFEC;
$onDisabled: #C5BCB4;