$primary: #6D5540;
$darkPrimary: #4D3C2D;
$onPrimary: #FFF;

$accent: #A8886B;
$darkAccent: #8D6E53;
$onAccent: #FFF;

$background: #F3EFEC;
$onBackground: #6D5540;

$surface: #FFF;
$onSurface: #2D231A;

$error: #D24442;
$onError: #FFF;
