.form {
  .alert {
    margin-bottom: 30px;
  }

  .input {
    display: block;
    margin-bottom: 6px;
  }

  .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
  }
}