@import 'assets/styles/colors';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: background-color linear .2s;
  background-position: center;
  background-repeat: no-repeat;
}