@import 'assets/styles/colors';

.button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: filter linear .2s;
  width: 24px;
  height: 24px;
}

.button:hover {
  filter: brightness(80%);
}
