@import 'assets/styles/colors';

.link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  transition: background-color linear .2s;
  padding: 0;

  &.primary {
    color: $primary;
  }

  &.primary:hover {
    color: $darkPrimary;
  }

  &.accent {
    color: $accent;
  }

  &.accent:hover {
    color: $darkAccent;
  }

  &.medium {
    font-size: 18px;
    line-height: 28px;
  }

  &.large {
    font-size: 24px;
    line-height: 36px;
  }
}
