@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src:
    url(assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2) format('woff2'),
    url(assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url(assets/fonts/OpenSans/OpenSans-Regular.woff2) format('woff2'),
    url(assets/fonts/OpenSans/OpenSans-Regular.woff) format('woff');
}
